* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	/* color: white; */
}

.caption {
	position: relative;
	top: 100px;
	width: 8vw;
	height: 3vh;
	background-color: navy;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
